<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
          
    </head>
    <body style="background-color:#fff;">
        <header>
            <a href="dcx-install.html"><div class="previous"></div></a>
            <div class="register">意见反馈</div>
            <a href="#"><div class="next"></div></a>
        </header>
        <nav class="opinion-nav">
            <textarea class="opinion" placeholder="请留下您的宝贵意见(500字以内)"></textarea>
        </nav>
        <div class="arena-content">
                <li class="ensure"><input type="submit" value="提交" /></li>
        </div> 
        
    </body>

</html>