<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <div class="head">
            <img src="../images/tab/home-b3x.png" />
            <h1>会展邦</h1>
            <h2>HUIZHANBANG</h2>
        </div>
        <div class="foot">
            <p class="chinese">首家公关会展活动专业供需服务平台</p>
            <p class="english">@2015 yuukuo.com,all rights reserved</p>
        </div>
    </body>

</html>