<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" /> 
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />


    </head>
    <body style="background-color:#f2f2f2;">
        <header>
            <a href="dcx-around.html"><div id="special" class="previous"></div></a>
            <div id="somany" class="register">阿里巴巴年会北京分会场</div>
            <a><div class="next"></div></a>
        </header>
        <div class="part-one-message">
            <ul>
                <li class="address">
                    <span>项目地址</span>
                    <p>北京市海淀上地三街甲9号嘉华大厦2号楼302室</p>
                </li>
                <li class="time">
                    <span>项目时间</span>
                    <p>2015年12月10号</p>
                </li>
            </ul>
        </div>
        <div class="partone-content">
            <ul>
                <li>
                    <div class="quote">
                        <div class="print"><img src="../images/partone-price.jpg" /></div>
                        <p>异性签到板</p>
                        <div class="price"><span>¥12300</span></div>
                    </div>
                </li>
                <li>
                    <div class="quote">
                        <div class="print"><img src="../images/partone-price.jpg" /></div>
                        <p>异性签到板</p>
                        <a href="dcx-arena-one.html">
                            <div class="price btn"><span>报价</span></div>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="quote">
                        <div class="print"><img src="../images/partone-price.jpg" /></div>
                        <p>异性签到板</p>
                        <a href="dcx-arena-one.html">
                            <div class="price btn"><span>报价</span></div>
                        </a>
                    </div>
                </li>


                <li>
                    <div class="quote">
                        <div class="partone-word"><h3>阿里巴巴年会北京会场——灯光</h3></div>
                        <a href="dcx-arena-one.html">
                            <div class="price btn"><span>报价</span></div>
                        </a>
                    </div>
                </li>


                <li>
                    <div class="quote">
                        <div class="print"><img src="../images/partone-price.jpg" /></div>
                        <p>异性签到板</p>
                        <a href="dcx-arena-one.html">
                            <div class="price btn"><span>报价</span></div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="quote">
                        <div class="print"><img src="../images/partone-price.jpg" /></div>
                        <p>异性签到板</p>
                        <a href="dcx-arena-one.html">
                            <div class="price btn"><span>报价</span></div>
                        </a>
                    </div>
                </li>
            </ul>
            
        </div>

        <div class="partone-bid">
            <ul>
                <li><span class="inall">合计</span><p>¥82300</p></li>
                <li><span>税金10%</span><p>¥82300</p></li>
                <li><span class="inall">总计</span><p>¥82300</p></li>
                <li><span>最终报价</span><input class="enter-btn" type="text" placeholder="请输入最终优惠价" /></li>
                <li class="refer"><input type="submit" value="提交投标"></li>
            </ul>
        </div>
        
    </body>

</html>