<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <header>
            <a href="dcx-install-two.html"><div class="previous"></div></a>
            <div class="register">成员列表</div>
            <a href="dcx-member-two.html"><div class="next">新增</div></a>
        </header>
        <div class="memone-content">
            <ul> 
                <li>
                    <div class="no-image">
                        <div class="avatar"><span></span></div>
                        <div class="info">
                            <div class="human"><h2>哈哈大熊</h2><p>18674285988</p></div>
                            <div class="delete"><input type="submit" value="删除" /></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="no-image">
                        <div class="avatar"><span></span></div>
                        <div class="info">
                            <div class="human"><h2>哈哈大熊</h2><p>18674285988</p></div>
                            <div class="delete"><input type="submit" value="删除" /></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="no-image">
                        <div class="avatar"><span></span></div>
                        <div class="info">
                            <div class="human"><h2>哈哈大熊</h2><p>18674285988</p></div>
                            <div class="delete"><input type="submit" value="删除" /></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="no-image">
                        <div class="avatar"><span></span></div>
                        <div class="info">
                            <div class="human"><h2>哈哈大熊</h2><p>18674285988</p></div>
                            <div class="delete"><input type="submit" value="删除" /></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>

</html>