<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <header>
            <a href="#"><div class="previous"></div></a>
            <div class="register">发布设备</div>
            <a href="#"><div class="next"></div></a>
        </header>
        <div id="install-content" class="finish-content">
            <ul class="device-ul">
                <a href="#"><li class="avatar"><p>设备名称</p></li></a>
                <a href="dcx-brief.html"><li><p>描述</p></li></a>
            </ul> 
        </div>
        <div class="issue-nav">
            <div class="picture">
                <ul>
                    <li><img src="../images/head.jpg" /></li>
                    <li><img src="../images/head.jpg" /></li>
                    <li><img src="../images/2x/add.png" /></li>
                </ul>
            </div>
        </div>
        <div class="detail-btn"><input type="submit" value="发布" /></div>
    </body>

</html>