<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <header>
            <a href="dcx-member-one.html"><div class="previous"></div></a>
            <div class="register">新 增</div>
            <a href="#"><div class="next">完成</div></a>
        </header>
        <div  class="brief-content baseinfo-content">
            <form action="" method="">
                <ul>
                    <li><span>姓名</span><input class="baseinfo-enter" type="text" placeholder="请输入手机号码/邮箱" /></li>
                    <li><span>电话</span><input class="baseinfo-enter" type="text" placeholder="将作为登录账号" /></li>
                    <li><span>密码</span><input class="baseinfo-enter" type="text" placeholder="请输入密码" /></li>
                    <li class="last"><span>确认密码</span><input class="baseinfo-enter" type="text" placeholder="请确认密码" /></li>     
                </ul>
            </form>
        </div>  
    </body>

</html>