<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width， initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />

        <script src='../js/hhSwipe.js' type="text/javascript"></script>
        <script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="../js/my.js"></script>

    </head>
    <body style="background-color:#f2f2f2;">
        <header>
            <a href="dcx-install.html"><div class="previous"></div></a>
            <div class="register">北京凯宾斯基酒店</div>
            <a href="dcx-company.html"><div class="next">简介</div></a>
        </header>
        <div class="addWrap">
            <div class="swipe" id="mySwipe">
                <div class="swipe-wrap">
                    <div><a href="javascript:;"><img class="img-responsive" src="../images/around-city.jpg"/></a></div>
                    <div><a href="javascript:;"><img class="img-responsive" src="../images/resource-nav.jpg" /></a></div>
                    <div><a href="javascript:;"><img class="img-responsive" src="../images/around-city.jpg"/></a></div>
                    <div><a href="javascript:;"><img class="img-responsive" src="../images/resource-nav.jpg" /></a></div>
                </div>
            </div>
    
            <ul id="position">
                <li class="cur">1/25</li>
                <li>2/25</li>
                <li>3/25</li>
                <li>4/25</li>
            </ul>

        </div><!--/addWrap--> 
        <div  class="brief-content">
            <ul>
                <li><span>公司类型</span><p>股份制</p></li>
                <li><span>面积</span><p>300平方米</p></li>
                <li><span>城市</span><p>呼和浩特</p></li>
                <li><span>负责人</span><p>章法中</p></li>
                <li><span>税率</span><p>8%</p></li>
                <li><span>垫资</span><p>6个月</p></li>
                <li class="last"><span>投诉电话</span><p>010-76885567</p></li>     
            </ul>
        </div>
        <div id="brief-id" class="part-one-message">
            <ul>
                <li class="address">
                    <span>项目地址</span>
                    <p>北京市海淀上地三街甲9号嘉华大厦2号楼302室</p>
                </li>
                <li class="time">
                    <span>行业认证</span>
                    <p>ISO认证</p>
                </li>
                <li class="time">
                    <span>行业资质</span>
                    <p>第四届上海国际广告节组织奖</p>
                </li>
            </ul>
        </div>
    </body>

</html>