<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
       
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
       
         
    </head>

    <body>
        <header>
            <a href="#"><div class="previous" id="no-one"></div></a>
            <div class="register">需求记录</div>
            <a href="dcx-install.html"><div class="next"></div></a>
        </header>
        <div class="itme-content"> 
            <ul>
                <li> 
                    <div class="grab">
                        <div id="demand-assembly" class="assembly">
                            <h3>临时需要2名外籍模特</h3>
                            <p><span>执行时间：0/21&nbsp;&nbsp;10:40</span><span class="spec">响应人数：103个</span></p>
                            <p>执行地点：北京市朝阳区农展馆</p>
                        </div>  
                    </div>
                </li>
                <li>
                    <div class="grab">
                        <div id="demand-assembly" class="assembly">
                            <h3>急需搬家公司</h3>
                            <p><span>执行时间：0/21&nbsp;&nbsp;10:40</span><span class="spec">响应人数：103个</span></p>
                            <p>执行地点：北京市朝阳区农展馆</p>
                        </div> 
                    </div>
                </li>
                <li>
                    <div class="grab">
                        <div id="demand-assembly" class="assembly">
                            <h3>北京草莓音乐节</h3>
                            <p><span>执行时间：0/21&nbsp;&nbsp;10:40</span><span class="spec">响应人数：103个</span></p>
                            <p>执行地点：北京市朝阳区农展馆</p>
                        </div>  
                    </div> 
                </li>
            </ul>
        </div>
   
        <footer>
            <div class="footer">
                <a href="dcx-around.html"><div class="item">竞标项目</div></a>
                <a href="dcx-bidding.html"><div id="goods-present" class="goods">需求记录</div></a>
                <a href="dcx-trends.html"><div class="personal">个人中心</div></a>
            </div>
        </footer>
    </body>

</html>