<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />

        
    </head>
    <body style="background-color:#f2f2f2;">
        <header>
            <a href="dcx-register.html"><div class="previous"></div></a>
            <div class="register">发布状态</div>
            <a href="#"><div class="next"></div></a>
        </header>
        <nav class="issue-nav">
            <textarea  class="opinion" placeholder="说点什么吧..."></textarea>
            <div class="picture">
                <ul>
                    <li><img src="../images/head.jpg" /></li>
                    <li><img src="../images/head.jpg" /></li>
                    <li><img src="../images/2x/add.png" /></li>
                </ul>
            </div>
        </nav>
        <div class="issue-list">
            <ul>
                <a href="#"><li><span>发布类型</span><p>设备</p></li></a>
                <a href="#"><li><span>信息位置</span><p>当前所在位置</p></li></a>
            </ul>
        </div>
        <div class="arena-content">
            <li class="ensure"><input type="submit" value="提交" /></li>
        </div>   
    </body>

</html>