<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
      
    </head>
    <body>
        <header>
            <a href="dcx-brief.html"><div class="previous"></div></a>
            <div class="register">公司简介</div>
            <a href="#"><div class="next"></div></a>
        </header>
        <article>
            <p>四季酒店是一家国际性奢华酒店管理集团,总部设于加拿大多伦多，1961年由伊萨多夏普先生创办,2014年为止已在38个国家拥有92家酒店及度假酒店,并有超过60项酒店发展计划正在酝酿中。四季酒店被指南评为世界最佳酒店集团之一。</p>          
        </article>
    </body>

</html>