<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <header>
            <a href="dcx-install-two.html"><div class="previous"></div></a>
            <div class="register">基础信息</div>
            <a href="#"><div class="next">下一步</div></a>
        </header>
        <div class="brief-content baseinfo-content">
            <ul>
                <li><span>经营地址</span><input class="baseinfo-enter" type="text" placeholder="请按照类别填写对应地址" /></li>
                <li class="two-word"><span>邮&nbsp;箱</span><input class="baseinfo-enter" type="text" placeholder="请输入联系邮箱"/></li>
                <li class="two-word"><span>税&nbsp;率</span><input class="baseinfo-enter" type="text" placeholder="请输入税率"/></li>

                <li class="taxpayer men"><span>纳税类别</span><p>一般纳税人</p></li> 
                <li class="taxpayer"><span>营业执照</span><p></p></li>
                <li class="taxpayer bank"><span>银行开户许可证</span><p></p></li>
                <li class="taxpayer bank"><span>法人身份证</span><p></p></li>
                <li class="taxpayer bank last"><span>公司实景照片</span><p></p></li>
            </ul>
        </div> 

        

    
    </body>

</html>