<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=“viewport” content=“width=device-width， initial-scale=1.0”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <title>会展邦</title>
        <link href="../css/reset.css" rel="stylesheet" type="text/css" />
        <link href="../css/dcx-common.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <header>
            <a href="dcx-trends.html"><div class="previous"></div></a>
            <div class="register">设 置</div>
            <a href="#"><div class="next"></div></a>
        </header>
        <div id="install-content" class="finish-content">
            <ul>
                <a href="#"><li class="avatar"><p>修改头像</p><span></span><img src="../images/2x/more2x.png" /></li></a>
                <a href="dcx-brief.html"><li><p>用户资料</p><img src="../images/2x/more2x.png" /></li></a>
                <a href="#"><li><p>修改密码</p><img src="../images/2x/more2x.png" /></li></a>
                <a href="dcx-opinion.html"><li><p>意见反馈</p><img src="../images/2x/more2x.png" /></li></a>
                <a href="#"><li><p>版本升级</p><img src="../images/2x/more2x.png" /></li></a>
                <a href="#"><li><p>关于我们</p><img src="../images/2x/more2x.png" /></li></a>
                <li class="exit"><input type="submit" value="退出登录" /></li>
            </ul>
        </div>

    </body>

</html>