
  <body ng-controller="recoverControllers">
        <header>
            <a href="#/login"><div class="previous"></div></a>
            <div class="register">找回密码</div>
            <a href="#"><div class="next">完成</div></a>
        </header>
        <div class="recover-content">
            <form action="">
                <ul>
                    <li><input placeholder="请输入密码" type="password" /></li>
                    <li><input placeholder="请再次输入验证码" type="text" /></li>
                </ul>
            </form>
        </div>

    </body>
