<script type="text/javascript" src='js/hhSwipe.js'></script>
<script type="text/javascript" src="js/simple-inheritance.min.js"></script>
<script type="text/javascript" src="js/code-photoswipe-1.0.11.min.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript">
$(function () {
/* 点击照相机出现下拉框 */
  $("#camera").on('click',function () {
      $(".popup").slideToggle('slow');
  });
  $(".cancal").on('click',function () {
      $(".popup").slideToggle('slow');
  });
});


</script>

<header>
 <a href="javascript:;"><div id="camera" class="previous"></div></a>
 <div class="register">我的主页</div>
 <a href="#/user_setting"><div id="setup" class="next"></div></a>
</header>

<div class="addWrap">
 <div class="swipe" id="mySwipe">
     <div class="swipe-wrap" >

         <div> <a href="javascript:;"><img class="img-responsive" src="images/resource-nav.jpg"/></a></div>
         <div> <a href="javascript:;"><img class="img-responsive" src="images/resource-nav.jpg"/></a></div>

     </div>
 </div>

 <ul id="position">
     <li class="cur">1/25</li>
     <li>2/25</li>
 </ul>
 <li class="badge"><img src="images/2x/upload_badge.png" /></li>
</div><!--/addWrap-->

<div  ng-controller='user_infoControllers'>
 <div infinite-scroll='timeline.nextPage()' infinite-scroll-disabled='timeline.busy' infinite-scroll-distance='1'>
     <div class="resource-content">
         <ul>
             <li ng-repeat="item in timeline.items | filter:query | orderBy:orderProp">
                 <div class="picture pic">
                     <ul  class="picul">
                         <li class="time"><span>21</span>五月</li>
                         <li class="photo">
                             <ul id="ul1" class="photo-ul">

                                 <li class="gallery-item"  ng-repeat="img in item.pics | filter:query | orderBy:orderProp | limitTo:quantity">
                                     <div ng-switch on="item.count">
                                         <div ng-switch-when="1">
                                             <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/80/h/80"  /></a>
                                         </div>
                                         <div ng-switch-when="2">
                                             <span ng-if="$index + 1 == 1">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/80" style="width:38px;height:80px;" class='pic-one'  /></a>
                                             </span>
                                             <span ng-if="$index + 1 != 1">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/80"  style="width:38px;height:80px;"/></a>
                                             </span>
                                         </div>

                                         <div ng-switch-when="3">
                                             <span ng-if="$index + 1 == 1">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38" style="width:38px;height:38px;" class='pic-two'  /></a>
                                             </span>
                                             <span ng-if="$index + 1 == 2">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38" style="width:38px;height:38px;" class='pic-three' /></a>
                                             </span>

                                             <span ng-if="$index + 1 == 3">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38"  style="width:38px;height:38px;" /></a>
                                             </span>
                                         </div>

                                         <div  ng-switch-default>
                                             <span ng-if="$index + 1 == 1">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38" style="width:38px;height:38px;" class='pic-two'  /></a>
                                             </span>
                                             <span ng-if="$index + 1 == 2">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38" style="width:38px;height:38px;" class='pic-three' /></a>
                                             </span>

                                             <span ng-if="$index + 1 == 3">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38"  style="width:38px;height:38px;" class="pic-one" /></a>
                                             </span>
                                             <span ng-if="$index + 1 == 3">
                                                 <a href="{{img}}"><img  src="{{img}}?imageView2/1/w/38/h/38"  style="width:38px;height:38px;" /></a>
                                             </span>
                                         </div>

                                     </div>

                                 </li>
                             </ul>
                         </li>
                         <li class="scrap"><p>{{item.description}}</p></li>
                     </ul>
                     <ul class="column">
                         <a href="javascript:;"><li class="comment">{{item.comment_cnt}}</li></a>
                         <a href="javascript:;"><li class="praise">{{item.zan_cnt}}</li></a>
                     </ul>
                 </div>
             </li>

         </ul>
     </div>
 </div>
</div>
<footer>
 <div class="footer" id="footer-four">
     <a href="#/items"><div class="tetra item">竞标项目</div></a>
     <a href="#/bidding/0"><div class="tetra quote">我的报价</div></a>
     <a href="#/demands"><div class="tetra goods">需求记录</div></a>
     <a href="#/user_info"><div class="tetra personal"  id="personal-present">个人中心</div></a>
 </div>
</footer>

<!-- 点击照相机出现下拉框 -->
<div class="popup">
 <ul class="eject-one"></ul>
 <ul class="eject-two">
     <a href="dcx-device-one.html"><li>发布设备</li></a>
     <a href="dcx-device-two.html"><li>发布案例</li></a>
     <a href="javascript:;"><li class="cancal">取消</li></a>
 </ul>
</div>
